{% extends "index.html" %}
{% block content %}
<body>
    <header>
        <h1>Recipes</h1>
        <a href="{{ url_for('dashboard') }}" class="DashBoard">DashBoard</a>
        <a href="{{ url_for('create_recipe') }}" class="btn btn-primary">Create Recipe</a>
    </header>
    <main>
        <div class="feed">
            {% for recipe in user_recipes %}
            <style>
                .feed{
                    width: 100%;
                    height: auto;
                }
                .feed-item{
                    width: 500px;
                    height: 200px;
                    background: black;
                    color: white;
                    text-align: center;
                    border-radius: 20px;
                }
            </style>
            <div class="feed-item">
                <h3>{{ recipe.title }}</h3>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.description }}</p>
                <p>{{ recipe.instructions }}</p>
                <a href="{{ url_for('share', recipe_id=recipe.id) }}" class="button">Share</a>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>

{% endblock %}


