
{% block content %}
<body>
    <header>
        <div class="header">
        <h1>Zob</h1>
        <p>The All In One</p>
        <style>
            body{
                margin: 20;
            }
            .header{
                font-size: 75px;
                text-align: center;
            }
           
        </style>
    </header>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <main>
        <div class="decision-buttons">
            <style>
                .decision-buttons{
                  text-align: center;
                  margin: 4px 2px;
                  font-size: 25;
                  
                }
                
                </style>
            </style>
            <a href="{{url_for('login')}}"class="decision-buttons">Login</a>
            <a href="{{url_for('register')}}"class="decision-buttons">Register</a>
        </div>
    </main>
  </body>
</body>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
</div>
</html>
   
{% endblock %}