
{% block content %}
<body>
    <header>
        <div class="head">
        <h1>Zob</h1>
        <p>The All In One</p>
        <link rel="stylesheet" href="/static/style.css">

        
    </header>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <main>
        <div class="button-container">
           
            <a href="{{url_for('login')}}"class="button">Login</a>
            <a href="{{url_for('register')}}"class="button">Register</a>
        </div>
    </main>
  </body>
</body>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
</div>
</html>
   
{% endblock %}