
{% block content %}
<body>
    <header>
        <h1>Zob</h1>
        <p>The All In One</p>
    </header>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <main>
        <div class="decision-buttons">
            <a href="{{url_for('create_recipe')}}" class="button">Create Recipes</a>
            <a href="{{url_for('recipe_feed')}}" class="button">Your Recipes</a>
            <a href="{{url_for('login')}}"class="button">Login</a>
            <a href="{{url_for('register')}}"class="button">Register</a>
        </div>
    </main>
  </body>
</body>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
</div>
</html>
   
{% endblock %}