{% extends "index.html" %}
{% block content %}
<html>
    <head>
        <div class="login-heading">
        <h1>Login Page</h1>
        <link rel="stylesheet" href="/static/style.css">


    </head>
<body>
    <div class="login-container">
    
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}  
        <div class="form-group input">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}  
        </div>
        <div class="form-group input">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}  
        </div>
        {{ form.submit(class="login-button") }}  
    </form>
    <div class="button-container">
    <a href="{{ url_for('register') }}"class="button">Don't have an account? Sign Up</a>
    
  
    <a href="{{ url_for('index') }}" class="button">Home</a>
</body>
</html>
{% endblock %}
