{% extends "index.html" %}
{% block content %}
<html>
<head>
    <div class="login-heading">
        <link rel="stylesheet" href="/static/style.css">

    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <div class="login-heading">
        <div class="form-group input">
    <form method="POST" class="register-button" action="{{ url_for('register') }}">

        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <div class="button-container">
    <a href="{{url_for('login')}}" class="button">Already have an account? Log In</a>
   
    <a href="{{ url_for('index') }}" class="button">Home</a>
</body>
</html>
{% endblock %}
