{% extends "index.html" %}
{% block content %}
<html>
  <head>
  </head>
  <body>
    <a href="{{ url_for('dashboard') }}" class="Dashboard">Dashboard</a>
    <a href="{{ url_for('create_recipe') }}" class="btn btn-primary">Create Recipe</a>
    <h1>Recipe Sharing</h1>
    <p>Share this recipe:</p>
    <input type="text" value="{{ shareable_link }}" readonly />

    <p>Recipe details:</p>
    <p>Title: {{ recipe.title }}</p>
    <p>Description: {{ recipe.description }}</p>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Instructions: {{ recipe.instructions }}</p>
  </body>
</html>
{% endblock %}
